.rounded-custom {
  border-radius: 15px;
  overflow: hidden;
}
.contact-section {
  background: url("path/to/your/image.jpg") center center/cover no-repeat;
  position: relative;
}

.contact-form-container {
  background-color: rgba(193, 207, 216, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.card.servicesText:hover {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}
.nav-item.active {
  position: relative;
}
.navbar-dark {
  background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.contact-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contact-section.fade-in {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}
.success-message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  z-index: 10000;
}
.failure-message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a72828;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  z-index: 10000;
}

.progress-bar {
  background-color: #fff;
  height: 5px;
  border-radius: 3px;
  margin-top: 5px;
}

.progress-bar-fill {
  background-color: #fff;
  height: 100%;
  width: 100%;
  animation: progress 5s linear;
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.page-content.dark {
  background-color: #343a40;
  color: #fff;
}
.page-content.dark .success-message,
.page-content.dark .failure-message {
  color: #fff;
}

.page-content.dark .progress-bar,
.page-content.dark .progress-bar-fill {
  background-color: #dc3545;
}

.page-content.dark .progress-bar-fill {
  background-color: #28a745;
}
html {
  scroll-behavior: smooth;
}
.section {
  padding-top: 80px;
}
.portfolio-image {
  width: 100%;
  height: auto;
}
